# Python Compile Files
__pycache__/

# VIM Temporary files
.*.swp
.*.swo

# Virtual Environments
env/

# Logs
logs/
*.log

# checkpoints
checkpoints/

# cache
cache/

# bazel files and symlinks
bazel-*
