absl-py==0.7.1
astor==0.8.0
certifi==2019.3.9
chardet==3.0.4
gast==0.2.2
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.4
onnx==1.5.0
-e git+https://github.com/onnx/onnx-tensorflow.git@58f6174976d8ed676b9053c19bb0e5c78a660afb#egg=onnx_tf
protobuf==3.8.0
PyYAML==5.1
requests==2.22.0
six==1.12.0
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorflow==1.14.0rc0
tensorflow-estimator==1.13.0
tensorflow-hub==0.4.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019042301
tqdm==4.32.1
typing==3.6.6
typing-extensions==3.7.2
urllib3==1.25.3
Werkzeug==0.15.4
wrapt==1.11.1
